<section class="col-md-4 border-square text-center" ng-click="notifyClick()">
    <h4 class="text-center title-item">{{item.name}}</h4>
    <img class="img-rounded img-responsive image-item" ng-src="{{item.photos[0]}}" alt="Imagen relativa al item">
    <article>
        <p class="text-justify description-title">{{item.description.substring(0,300) + "..."}}</p>
    </article>
    <aside>
        <a ng-click="notifyClick()" class="btn btn-default button-item"> Ver más </a>
    </aside>
</section>