<div class="row">
    <section class="col-md-12">
        <aside class="col-md-offset-1 col-md-3 margin-bottom">
            <div class="col-md-2">
                <img class="img-circle img-profile" ng-src="{{::$ctrl.getSource($ctrl.user.avatar)}}" alt="Avatar del usuario">
            </div>
        </aside>
        <aside class="col-md-offset-1 col-md-5">
            <h3>{{::$ctrl.user.name}} - "{{::$ctrl.user.nick}}"</h3>
            <h5>Contacto: {{::$ctrl.user.email}}</h5>
            <div class="col-md-8">
                <gm-map center="[$ctrl.user.latitude,$ctrl.user.longitude]" zoom="14">
                    <gm-marker position="[$ctrl.user.latitude,$ctrl.user.longitude]"></gm-marker>
                </gm-map>
            </div>
        </aside>
    </section>
</div>

<section ng-if="$ctrl.products.length > 0" class="category-filter col-md-offset-1 col-md-10">
    <h2>Productos de {{$ctrl.user.name}}</h2>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group">
            <button class="btn btn-default" ng-click="$ctrl.categoryName = ''">Todos</button>
        </div>
        <div class="btn-group" ng-repeat="category in $ctrl.categories | orderBy: 'name'">
            <button class="btn btn-default" ng-click="$ctrl.categoryName = category.name">{{::category.name}}</button>
        </div>

    </div>
</section>

<section class="col-md-offset-1 col-md-10 text-center" ng-if="$ctrl.products.length === 0">
    <h2>Este usuario no ha añadido ningún producto</h2>
</section>

<section>
    <box-item ng-repeat="product in $ctrl.products | filter:$ctrl.categoryName" item="product" ng-link="['ProductDetail',{id: product.id}]"></box-item>
</section>
