html{
    background-color:#f8f8f8;
}
body{
    background-color: #f8f8f8;
}
h1{
    margin-bottom: 30px;
}
.navbar-default .navbar-nav>li>a{
    color:white;
}
.navbar-default .navbar-nav>li>a:hover{
    color:#e7e7e7;
}
.navbar-default{
    color: white;
    background-color:#313335;
}
.navbar-default .navbar-brand{
    color:#e7e7e7;
}
.navbar{
    border: 0px;
    border-radius: 0px;
}

.border-square{
    border: solid 1px #bebebe;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    margin-bottom: 30px;
    cursor: pointer;
}

.img-responsive{
    margin: 0 auto;
}
.image-item{
    width:100%;
    height:100%;
    margin-bottom: 20px;
    cursor: pointer;
}
.title-item{
    height:50px;
}
.description-title{
    height:150px;
    margin:10px;
}
.button-item{
    margin-bottom:15px;
    vertical-align: center;
}

.paragraph{
    font-family: 'trebuchet ms', verdana, arial;
}

.detail{
    border-radius: 15px;
    border: 1px solid #a3a3a3;
}


.three-col{
    width: 25%;
    float:left;
    margin-left:6.33%;
}

.category-filter{
    margin-bottom:50px;
}

gm-map {
    display: block;
    width: 100%;
    height: 300px;
}

